*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

:root{
    --container-width: 70%;
}

body{
    background-color: #242127;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}

header{
    background-color: #242127;
    max-height: 220px
}

.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.main-links:hover{
    color: #FF0000;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links:hover{
    color: #FF0000;
}

.divider{
    width: 100%;
    border: 1px solid #3B3741;
}

.search-input{
    padding: 5px;
    border-radius: 10px;
    width: 35%;
}

input.search{
    padding: 8px 15px 8px 15px;
    width: 100%;
    outline: none;
    border-radius: 30px;
    background-color: #3B3741;
    border-color: #242127;
    color: #dfdfdf;
}

.header__nav-row{
    padding: 25px 0;
}

.hero{
    position: relative;
    background: url(../img/bg1.png) center no-repeat;
    width: 100%;
    height: 780px;
}

.items{
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 1em;
    margin-top: 2em;
}

.item{
    max-width: calc((100% / 4) - (3em / 4));
    width: 100%; 
}

.item:nth-child(4n) {
    margin-right: 0;
}

.item img{
    max-width: 260px;
    max-height: 370px;
    width: 100%;
}

.item-name{
    font-size: 18px;
    margin: 10px 0 10px;
    max-width: 260px;
}

.item-block{
    height: 26em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.text-hero{
    position: absolute;
    color: white;
    bottom: 20%;
    right: 10%;
}

h1, small{
    font-weight: normal;
    font-family: Neucha, serif;
}

.hero small{
    color: #FF0000;
}

.title-box-name{
    max-width: fit-content;
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    
}

.new-block{
    padding-top: 4em;
}

.title-box{
    display: flex;
    justify-content: space-between;
}

.title-link-view-more{
    border-bottom: 1px solid #242127;
}

.title-link-view-more:hover{
    border-bottom: 1px solid #ffffff;
}

.hot-block{
    padding-top: 5em;
}

footer{
    background-color: #fff;
    margin-top: 8em;
    padding: 2em 0;
    color: #000;
    font-size: 16px;
}

footer .container{
    display: flex;
    justify-content: space-between;
}

.footer-elem{
    max-width: calc((100% / 3) - (2em / 3));
}

.left-part__footer p{
    line-height: 1.5;;
}

.left-part__footer a{
    color: #000;
    font-size: 16px;
    font-weight: normal;
}

.left-part__footer a:hover{
    color: #FF0000;
}

.left-part__footer p:last-child{
    margin-bottom: 0;
}

.middle-part__footer p{
  line-height: 1.5;  
}

.right-part__footer a{
    margin-right: 1em;
}

.right-part__footer a:last-child{
    margin-right: 0;
}

.info{
    margin-top: 0.7em;
    line-height: 1.5em;
}

.info a{
    color: #000;
}