*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', sans-serif;
}

:root{
    --container-width: 70%;
}

body{
    background-color: #242127;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 300;
    font-size: 18px;
}

.container{
    max-width: var(--container-width);
    margin: 0 auto;
}



header{
    background-color: #242127;
    max-height: 220px
}



.main-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.main-links:hover{
    color: #FF0000;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links:hover{
    color: #FF0000;
}

.divider{
    width: 100%;
    border: 1px solid #3B3741;
}

.search-input{
    padding: 5px;
    border-radius: 10px;
    width: 35%;
}

input.search{
    padding: 8px 15px 8px 15px;
    width: 100%;
    outline: none;
    border-radius: 30px;
    background-color: #3B3741;
    border-color: #242127;
    color: #ffffff;
}

.header__nav-row{
    padding: 20px 0;
}

.hero{
    position: relative;
    background: url(../img/bg1.png) center no-repeat;
    width: 100%;
    height: 780px;
}

.items{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item{
    max-width: 25%;
    margin-bottom: 30px;
}

.text-hero{
    position: absolute;
    color: white;
    bottom: 25%;
    right: 10%;
}

h1, small{
    font-weight: normal;
    font-family: Neucha, serif;
}

.hero small{
    color: #FF0000;
}